<%= form_for @numbergroup do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
	Create a new number group
  <div class="field">
	<%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>