<h1>Edit Number Group</h1>

<%= form_for @numbergroup, :url => {:action=>"update"} do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
	<div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
	<div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>
<%= form_for(@phonenumber) do |f| %>
	<div class="field">
    <%= f.label :number %><br />
    <%= f.text_field :number %>
  </div>
<% end %>
  


